body {
  margin: 0;
}

#container {
  position: relative;
}

.images {
  position: absolute;
  width: 100%;
}

.menu-bar {
  position: absolute;
  width: 100%;
  z-index: 100;
}

.table-bar {
  width: 100%;
  background-color: rgb(78, 46, 1);
  color: orange;
  margin-top: 560px;
}

.menu-link {
  color: orange;
  text-decoration: none;
}

.backgrounds {
  position: absolute;
  z-index: 1;
  width: 100%;
  text-align: center;
  line-height: 0px;
}

#top-bg {
  margin-top: 600px;
}

.home-text {
  position: absolute;
  font-family: 'Parisienne', cursive;
  font-size: xx-large;
  font-weight: bolder;
  line-height: 15px;
  text-align: center;
  width: 100%;
  margin-top: 650px;
  z-index: 2;
}

.home-image {
  position: absolute;
  display: block;
  border: 10px solid black;
  text-align: center;
  margin-top: 800px;
  margin-left: 33%;
  z-index: 2;
}

.home-food-image {
  max-width: 100%;
  width: 100%;
}

.home-description {
  margin-top: 1280px;
  color: rgb(75, 49, 0);
  position: absolute;
  z-index: 2;
  text-align: justify;
  align-items: center;
  width: 855px;
  font-size: medium;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 30px;
  margin-left: 500px;
}

.copyright-footer {
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  font-family: 'Parisienne', cursive;
  font-size: x-large;
  font-weight: bolder;
  margin-top: 1440px;
}

/* FOOD.HTML DRINK.HTML*/
.food-menu {
  position: absolute;
  z-index: 3;
}

.drink-menu {
  position: absolute;
  z-index: 3;
}

#menu1, #menu2 {
  position: absolute;
  width: 350px;
  z-index: 3;
  margin-left: 600px;
}

#menu1, #menu3 {
  margin-top: 820px;
}

#menu2, #menu4 {
  margin-top: 90px;
}

#menu3, #menu4 {
  position: absolute;
  width: 200px;
  z-index: 3;
  margin-left: 600px;
}

.menu-food-1, .menu-food-2, .menu-drink-1, .menu-drink-2 {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: small;
  line-height: 30px;
}

.table-menu1-container, .table-menu2-container {
  margin-left: 1000px;
}

.table-menu1-container {
  margin-top: 880px;
}

.table-menu2-container {
  margin-top: 150px;
}